body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

/* Estilos para el botón circular */
.boton-yallegotucarri {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
}

.boton-yallegotucarri:hover {
    background-color: #0056b3;
}
